@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
}

.pill {
  @apply rounded-full border border-dust block mr-2 px-3 py-1 text-xs mb-2 font-light;
}

.pill[aria-selected] {
  @apply bg-dust;
}

.card:hover h2 {
  @apply text-ribbon inline-block relative;
}

h2:hover::after {
  content: "";
  height: 3px;
  bottom: -2px;
  @apply bg-ribbon w-full block absolute;
}
