@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
}

.pill {
  @apply rounded-full border border-dust mr-2 px-3 py-1 text-xs mb-2 font-medium;
}

.pill[aria-selected] {
  @apply bg-darkcloud border-darkcloud text-dust;
}

.card h2 a:hover {
  @apply text-ribbon underline;
  text-decoration-thickness: 3px;
}
